.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 20px;
    color: var(--twitter-color);
    transition: color 100ms ease-in;
  }
  
  .sidebarOption > .MuiSvgIcon-root {
    padding: 5px,5px;
    font-size: 25px !important;
    margin-top: 15px;
  }
  
  .sidebarOption > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-left: 7px;
    padding-top: 7px;
  }


  .sidebarOption--active {
    color: var(--twitter-color);
  }