.feed {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
  }
  
  .feed__header {
    background-color: white;
    border: 1px solid var(--twitter-background);
    padding: 2px 25px;
  }